/* App.css */
.sticky-navbar {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Add your desired background color */
  z-index: 100; /* Adjust the z-index as needed */
  /* margin-bottom: 20px; */
}
